body {
  margin: 0;
  padding: 0;
}

.container {
  background: url(Truck1.jpg);
  background-size: cover;
  height: 650px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container img {
  width: 100%;
}

.container .cloud1 {
  position: absolute;
  top: 60px;
  animation: cloudOne infinite 30s linear;
}

.container .cloud2 {
  position: absolute;
  top: 60px;
  animation: cloudTwo infinite 45s linear;
}

.container .cloud3 {
  position: absolute;
  top: -50px;
  animation: cloudThree infinite 15s linear;
}

.container .cloud4 {
  position: absolute;
  top: 0px;
  animation: cloudFour infinite 60s linear;
}

.container .cloud5 {
  position: absolute;
  top: 0px;
  animation: cloudFive infinite 25s linear;
}

@keyframes cloudOne {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloudTwo {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloudThree {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloudFour {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes cloudFive {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}